@import '../../../assets/styles/abstracts/variables';

.baptisms {
  display: grid;
  grid-template-columns: 30% 1fr min-content min-content;
  grid-template-areas: 'title title . export' 'search .  . add-baptism' 'baptism-table baptism-table baptism-table baptism-table';
  grid-template-rows: min-content min-content min-content;
  gap: 2rem;

  .title {
    grid-area: title;
  }
    
  .btn-export-light {
    grid-area: export;
    justify-self: flex-end;
  }

  .btn-add-baptism {
    grid-area: add-baptism;
  }
  
  .search {
    grid-area: search !important;
  }

  .baptism-table {
    grid-area: baptism-table;
  }

  .baptism-table {

    .ant-image {
      width: 4rem;

      img {
        width: 100%;
        object-fit: scale-down;
      }
    }

  .ant-space-item {
    color: #1890ff;
    cursor: pointer;
    &:hover {
      opacity: .8;
    }
  }
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 2rem;

    .ant-descriptions {
      .ant-descriptions-item-label {
        width: 12rem;
        color: #a5a5a5;
      }

      .desc-label-photo span {
        display: flex;
        align-items: center;
      }
      
    }
  }

  .baptism-description-column {
    max-width: 12rem;
    .ant-descriptions-item-label {
      width: 4rem;
    }
  }

  .user-view {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'person-detail person-detail' 'baptism-detail baptism-detail';
    gap: 2rem;
  }

  .user-detail{
    grid-area:  person-detail;
  }
  .baptism-detail {
    grid-area: baptism-detail;
  }

  .baptism-actions {
    > div {
      cursor: pointer;
      color: $primary;
    }
  }

}

.baptism-certification {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 5px solid $primary;
  }

  
  &::after {
    content: '';
    position: absolute;
    left: 1.5%;
    top: 2.5%;
    width: 97%;
    height: 95%;
    border: 2px solid $primary;
  }

  padding: 2rem;
  .certification-highlight {
    text-align: center;
    padding: 5rem 5rem 0 5rem;
    h1 {
      color: $primary;
      font-weight: bold;
      font-size: 2.2rem;
    }

    p {
      font-size: 1.1rem;
    }

    .certification-person-name {
      color: $primary;
      font-weight: bold;
      font-size: 1.4rem;
      margin: 0 .7rem;
    }
    .certification-date-baptism{
      color: $primary;
      font-weight: bold;
    }
  }

  .certification-pastor-with-signature {
    padding: 14rem 5rem 0 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    font-size: 1rem;

    > span:first-child {
      font-weight: 500;
    }
    > span:last-child {
      color: $primary;
    }
  
  }
}