@import '../../assets/styles/abstracts/variables';

.activities {
  display: grid;
  grid-template-columns: 30% 1fr min-content min-content;
  grid-template-areas: 'title title . export''search .  . btn-add''activity-table activity-table activity-table activity-table';
  grid-template-rows: min-content min-content min-content;
  gap: 2rem;

  .title {
    grid-area: title;
  }

  .btn-export-light {
    grid-area: export;
    justify-self: flex-end;
  }

  .search {
    grid-area: search !important;
  }

  .btn-add {
    grid-area: btn-add;
  }

  .activity-table {
    grid-area: activity-table;

    .ant-space-item {
      color: #1890ff;
      cursor: pointer;

      &:hover {
        opacity: .8;
      }
    }
  }

}